.container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  background-color: white;
}

.asterick::after {
  content: "*";
  color: red
}

body {
  background-color: aliceblue;
}

.signup {
  width: 100%;
  margin: auto;

}

.header_div h1 {
  text-align: left;
  padding: 15px;
}

.hiddenHr {
  clear: both;
  visibility: hidden;

}


.body_div {
  padding: 30px;
}

.grp {
  margin-top: 10px;
}

.body_div .form-input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  margin-bottom: 8px;
}

.h_grp .left {
  float: left;
  width: 49%;
}

.h_grp .right {
  float: right;
  width: 49%
}

.G_titles {
  font-weight: lighter;
}

.t_area {
  resize: none;
}

.r_check {
  padding-top: 150px;
  font-weight: bold;
  font-size: 20px;
  font-weight: lighter;
}

table {
  table-layout: fixed;
  width: 100%;
  /* border: 1px solid; */
}

td,
th {
  /* / border-style: solid;/  */
  word-wrap: break-word;

  border: 1px solid;
  background-color: #dddddd;

}

td {
  border: 1px solid;
}

.submit_class {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  background-color: green;

}



.number {
  width: 20px;
  text-align: center;

  border: 0px;

}

.tfield {
  /* / background-color: ;/ */
  text-align: center;

}

.t_input {
  border: none;
  width: auto;
  display: inline-block;

}

.wtd {
  background-color: white;
}

.empty_row {
  background-color: white;
}

#p1 {
  font-size: 100%;
  color: red;
}

#p2 {
  font-size: 100%;
  color: red;
}

#p3 {
  font-size: 100%;
  color: red;
}

#p4 {
  font-size: 100%;
  color: red;
}

#p5 {
  font-size: 100%;
  color: red;
}

#p6 {
  font-size: 100%;
  color: red;
}

#p7 {
  font-size: 100%;
  color: red;
}

#p8 {
  font-size: 100%;
  color: red;
}

#p9 {
  font-size: 100%;
  color: red;
}

#p10 {
  font-size: 100%;
  color: red;
}

#p11 {
  font-size: 100%;
  color: red;
}

#p12 {
  font-size: 100%;
  color: red;
}

label.error
{
    
    font-size: 100%;
    color: red;
  }



input.error,
textarea.error
 {
  border: 2px solid red;
  font-size: 100%;
  /* color: red; */
}

.gender {
  font-size: 16;
  float: inline-start;
}